@import url("//fonts.googleapis.com/css?family=Roboto|Roboto:400,700");

body {
  padding: 0;
  margin: 0;
  margin-top: 5% !important;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  background-color: #4e50d8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', cursive;
}

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #4e50d8 !important;
  border-color: #4e50d8;
  margin-bottom: 3%;
}

.navbar-brand {
  font-family: 'Roboto', cursive;
}

.banner {
  margin-top: 4em;
  border-bottom: 1px solid #4e50d8;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}

h1 small {
  color: #aaa;
}

.card {
  background-color: #1a1b1b;
}

.card-body {
  background-color: #1a1b1b;
  padding-top: 2em;
  padding-bottom: 2em;
}

.card-primary {
  border-color: #a2ced3;
  margin-bottom: 1rem;
}

.review-header {
  background-color: #31727a;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.review {
  margin-right: -20px;
  margin-left: -20px;
  margin-bottom: 1em;
}

.badge-default, .btn-primary {
  background-color: #ad1d28;
  border-color: #911821;
}

h4 a, h4 a:hover {
  color: #f7f4f4;
}

h4 small {
  font-size: 60%;
  line-height: 200%;
  color: #f8f7f7;
}

.address {
  margin-bottom: 0.5rem;
}

.facilities span.badge {
  margin-right:2px;
}

legend {
  font-family: 'Roboto', cursive;
}

.card-car {

  background-color: #4e50d8;
  margin: 1em;
  width: 80%;

}

.card-car-block {

  background-color: #4e50d8;
  margin: 1em;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;

}

.card-block-car {

    width: 80%;
    padding: 1em;
}

span {

  margin-right: 1em;

}

.col-12-car {

  margin-left: 10%;
}

a{

  color:rgb(183, 247, 247) !important;

}

a:visited{

  color:rgb(183, 247, 247) !important;

}

a:hover{

  color:rgb(96, 171, 171);
  text-decoration: none;

}

.navbar-toggler.navbar-toggler-right{

  background-color: white;

}

.padder {

  padding: 1em;
  
}