extends layout

block content
  .container
    .row
      .col-lg-10.col-xl-9.mx-auto
        .card-img-left.d-none.d-md-flex
        h5.card-title.text-center.mb-5.fw-light.fs-5 Register
        form(action='/api/register', method='post') 
          .form-floating.mb-3
            label(for='username') Username
            input#username.form-control(type='text', name='username', placeholder='myusername', required='', autofocus='')
          .form-floating.mb-3
            label(for='email') Email address
            input#email.form-control(type='email', name='email', placeholder='name@example.com')
          .form-floating.mb-3
            label(for='password') Password
            input#password.form-control(type='password', name='password', placeholder='Password')
          .form-floating.mb-3
            label(for='passwordConfirm') Confirm Password
            input#passwordConfirm.form-control(type='password', name='passwordConfirm', placeholder='Confirm Password')
          .d-grid
            button.btn.btn-lg.btn-primary.btn-login.fw-bold.text-uppercase(type='submit') Register
          br
          a.d-block.text-center.mt-2.small(href='/login/') Have an account? Sign In
          hr.my-4
        

      script(src='/javscripts/register.js')
  